{{#if user}}
<form>
<h1>{{ user.name }}'s Profile</h1><br><br>
<h3>User Email</h3><br>
<label>{{ user.email }}</label><br><br>
<h3>Account Status:</h3>
<label>{{ user.status }}</label><br><br>
</form>
{{/if}}